.bg-video{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
object-fit:cover;
z-index:-1;
}

.slideshow{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
width:220px;
height:220px;
}

.slideshow img{
position:absolute;
width:100%;
height:100%;
object-fit:cover;
border-radius:10px;
opacity:0;
animation:blurFade 24s infinite;
}


.slideshow img:nth-child(1){animation-delay:0s;}
.slideshow img:nth-child(2){animation-delay:3s;}
.slideshow img:nth-child(3){animation-delay:6s;}
.slideshow img:nth-child(4){animation-delay:9s;}
.slideshow img:nth-child(5){animation-delay:12s;}
.slideshow img:nth-child(6){animation-delay:15s;}
.slideshow img:nth-child(7){animation-delay:18s;}
.slideshow img:nth-child(8){animation-delay:21s;}

@keyframes blurFade{
0%{opacity:0; filter:blur(10px);}
10%{opacity:1; filter:blur(0);}
40%{opacity:1;}
50%{opacity:0; filter:blur(10px);}
100%{opacity:0;}
}

.text-center{
position:fixed;
bottom:10px;
left:50%;
transform:translateX(-50%);
text-align:center;
}

.animate__animated{
font-size: clamp(18px, 4vw, 28px);
color:rgb(255, 156, 222);
font-family: 'Dancing Script', cursive;
font-weight: 600;
}

.clo {
    color: white;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    padding: 5%;
}

